.block {
    height: 65vh;
    background-color: #122E33;
}

.container {
    flex-direction: column;
    justify-content: start;

}

.title {

}

.inputBlock {
    /*border: 1px solid;*/
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.textarea {
    width: 200px;
    height: 90px;
}