.block {
    min-height: 65vh;
    /*background-color: #122E33;*/
    background-color: #264d59;
}

.container {
    /*background-color: #9296bf;*/
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.textContacts {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 35px;
    color: #122633;

}

.textarea {
    width: 200px;
    height: 90px;
}