.skillsBlock {
    min-height: 50vh;
    /*background-color: #122E33;*/
    background-color: #264d59;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 35px;
    color: #122633;
    margin-top: 0;
    /*background-color: #88bfb0;*/
}

.skillsContainer {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.skills {
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .skills {

    }
}

@media (max-width: 560px) {
    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



