.mainBlock {
    height: 100vh;
    /*background-color: #182538;*/
    background-color: #122633;
}

.text {
    width: 300px;
    background-color: #9296bf;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #9296bf;
}

