.project {
    width: 350px;
    min-height: 650px;

    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icon {
    width: 350px;
    height: 350px;
    /*background-color: #97bfa0;*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.titleOfProject {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 27px;
}

.description {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 20px;
    font-weight: 500;
}

.href {
    /*background-color: #5562bf;*/
    width: 80px;

}

@media (max-width: 450px) {
    .icon {
        width: 300px;
        height: 300px;
    }

    .project {
        width: 300px;
    }
}

@media (max-width: 340px) {
    .icon {
        width: 270px;
        height: 270px;
    }

    .project {
        width: 270px;
    }
}