.nav {

    width: 350px;
    display: flex;
    justify-content: space-between;
}

a {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 17px;
    text-decoration: none;
    color: #8db3cd;
}

@media (max-width: 600px) {
    .nav {
        justify-content: space-around;
    }
}

@media (max-width: 440px) {
    a {
        font-size: 14px;
    }
}