.projectBlock {
    /*height: 100vh;*/
    background-color: #122633;
    min-height: 100vh;
}

.title {
    background-color: #91adbf;
}

.projectContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    border: 1px solid;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1200px) {

}

