.projectBlock {
    height: 100vh;
    background-color: #4f62bf;
}

.title {
    background-color: #91adbf;
}

.projectContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

